@import "normalize.css";
@import "@blueprintjs/core/lib/css/blueprint.css";
@import "@blueprintjs/icons/lib/css/blueprint-icons.css";

:root {
  --big-button-normal-background-color: 171, 171, 177;
  --big-button-connected-background-color: 39, 167, 112;
  --big-button-shadow-opacity: 0.2;
  --big-button-shadow-opacity-hover: 0.2;
  --big-button-border-color: #0000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --big-button-border-color: #fff1;
  }
}

::placeholder {
  /* color: #333 !important; */
  opacity: 0.3 !important;
}

html {
  user-select: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* html:after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 40px;
  -webkit-app-region: drag;
} */

@media (prefers-color-scheme: dark) {
  html,
  html:after {
    background-color: #252a31;
  }
}

body {
  height: 100vh;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

@keyframes wave {
  0%,
  100% {
    scale: 1;
    filter: drop-shadow(5px 5px 10px #000d);
  }
  50% {
    scale: 1.3;
    filter: drop-shadow(10px 10px 15px #000d);
  }
}

@keyframes shadow-wave {
  0%,
  100% {
    box-shadow: 0 0 0 10px
    rgba(
      var(--big-button-normal-background-color),
      var(--big-button-shadow-opacity)
    );
  }
  50% {
    box-shadow: 0 0 0 20px
    rgba(
      var(--big-button-normal-background-color),
      var(--big-button-shadow-opacity)
    );
  }
}

.big-button {
  transition: all 0.2s linear !important;
  width: 200px;
  height: 200px;
  border: none;
  cursor: pointer;
  border-radius: 500px;
  border: 1px solid var(--big-button-border-color);
  background-color: rgb(var(--big-button-normal-background-color));
  color: #fff;
  box-shadow: 0 0 0 10px
    rgba(
      var(--big-button-normal-background-color),
      var(--big-button-shadow-opacity)
    );
}

.big-button.connecting,
.big-button:hover {
  box-shadow: 0 0 0 20px
      rgba(
        var(--big-button-normal-background-color),
        var(--big-button-shadow-opacity-hover)
      ),
    0 0 0 40px
      rgba(
        var(--big-button-normal-background-color),
        var(--big-button-shadow-opacity-hover)
      );
    /* 0 0 0 60px
      rgba(
        var(--big-button-normal-background-color),
        var(--big-button-shadow-opacity-hover)
      ); */
}

.big-button.connected {
  background-color: rgb(var(--big-button-connected-background-color));
  box-shadow: 0 0 0 20px
      rgba(
        var(--big-button-connected-background-color),
        var(--big-button-shadow-opacity)
      ),
    0 0 0 45px
      rgba(
        var(--big-button-connected-background-color),
        var(--big-button-shadow-opacity)
      ),
    0 0 0 70px
      rgba(
        var(--big-button-connected-background-color),
        var(--big-button-shadow-opacity)
      );
    /* 0 0 0 100px
      rgba(
        var(--big-button-connected-background-color),
        var(--big-button-shadow-opacity)
      ); */
}

.animating {
  animation: wave 0.8s cubic-bezier(0.075, 0.82, 0.165, .8) infinite;
}

.settings-button {
  transition: all 0.15s ease-in-out !important;
  border: none;
  background-color: transparent;
}

.settings-button:active {
  opacity: 0.5;
}

.panel {
  width: 100%;
  height: 100vh;
}
