name: Publish Release

on:
  push:
    tags:
      - "v*"

jobs:
  build_and_release:
    permissions:
      contents: write

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        include:
          - os: macos-latest
            file: xwarp-${{ github.ref_name }}-macos-arm64.dmg
          - os: macos-latest
            file: xwarp-${{ github.ref_name }}-macos-x64.dmg
          - os: windows-latest
            file: xwarp-${{ github.ref_name }}-windows-arm64.exe
          - os: windows-latest
            file: xwarp-${{ github.ref_name }}-windows-x64.exe
          - os: linux-latest
            file: xwarp-${{ github.ref_name }}-linux-arm64.appimage
          - os: linux-latest
            file: xwarp-${{ github.ref_name }}-linux-x64.appimage

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20.x

      - name: install dependencies
        run: npm ci

      - name: Build MacOS arm64 App
        if: matrix.os == 'macos-latest'
        run: npm run release:macos:arm64
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build MacOS x64 App
        if: matrix.os == 'macos-latest'
        run: npm run release:macos:x64
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build Windows arm64 App
        if: matrix.os == 'windows-latest'
        run: npm run release:windows:arm64
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build Windows x64 App
        if: matrix.os == 'windows-latest'
        run: npm run release:windows:x64
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build Linux arm64 App
        if: matrix.os == 'linux-latest'
        run: npm run release:linux:arm64
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Build Linux x64 App
        if: matrix.os == 'linux-latest'
        run: npm run release:linux:x64
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

      # Upload binaries to release
      - name: Upload Release Asset
        uses: svenstaro/upload-release-action@v2
        with:
          repo_token: ${{ secrets.GH_TOKEN }}
          file: ./build/${{ github.ref_name }}/${{ matrix.file }}
          asset_name: ${{ matrix.file }}
          tag: ${{ github.ref }}
          overwrite: true
          file_glob: true
